<!DOCTYPE HTML>

<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <title>Getting Started: Serving Web Content</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body>
        <p th:text="'Hello, ' + ${username} + '!'"/>
        <p th:text="'You are logged with:  ' + ${user} + '!'"/>
        <p th:text="'Edad:  ' + ${edad} + '!'"/>

        <div sec:authorize="isAuthenticated()"> Authenticated as <span sec:authentication="name"></span></div>


        <div sec:authorize="hasRole('admin')">
            This content is only shown to administrators.
        </div>
        <div sec:authorize="hasRole('user')">
            This content is only shown to users.
        </div>
        <div sec:authorize="hasRole('pepito')">
            This content is only shown to pepito.
        </div>

        <div th:fragment="logout" class="logout" sec:authorize="isAuthenticated()">
            Logged in user: <span sec:authentication="name"></span>
            <div>
                <form action="#" th:action="@{/logout}" method="post">
                    <input type="submit" value="Logout" />
                </form>
            </div>
        </div>

            <!--
            Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>
            -->

            <!--
            Authenticated user roles: <div sec:authentication="principal.authorities"></div>
            -->
    </body>
</html>